<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

<<<<<<< HEAD
    <title>Edit Products Page</title>
=======
    <title>Edit Fruit Page</title>
>>>>>>> d782b0a8d08607fa93f9d574172e34fe3087dd8d
</head>
<body>
    <h1>Edit Products Page</h1>
        <form action="/products/<%=product.id%>?_method=PUT" method="POST">
    		Name: <input type="text" name="name" value="<%=product.name%>"/><br/>
    		Description: <input type="text" name="description" value="<%=product.description%>"/><br/>
<<<<<<< HEAD
            Image: <input type="text" name="url" value="<%=product.img%>"/><br />
=======
            Image: <input type="text" name="img" value="<%=product.img%>"/><br />
>>>>>>> d782b0a8d08607fa93f9d574172e34fe3087dd8d
            Quantity: <input type="text" name="qty" value="<%=product.qty%>"/><br />
            Price: <input type="text" name="price" value="<%=product.price%>"/><br />
    		Out of Stock:
            <input type="checkbox" name="inStock"
                <% if(product.qty === 0){ %>
                    checked
                <% } %>
            />
<<<<<<< HEAD
             <!-- EDIT FORM -->
    <a href="/products/<%=product.id%>/edit" class="editLink">Edit</a>
    <br>
    <br>
    <!-- DELETE FORM  -->
    <form action="/products/<%=product.id%>?_method=DELETE" method="POST" class ="deleteLink">
    <input type="submit" value="DELETE" />
    </form>
    <br>
  <nav>
    <a href="/products">Back to Products</a>
  </nav>
=======
>>>>>>> d782b0a8d08607fa93f9d574172e34fe3087dd8d
        </form>
</body>
</html>